[Unit]
Description=Pi-hole Exporter for Prometheus
After=network.target

[Service]
Type=simple
ExecStart={{ pihole_exporter_dir }}
Restart=always
User=pihole_exporter

[Install]
WantedBy=multi-user.target
