#!/usr/bin/env python3

import configparser
import json

# Path to the configuration file
config_file_path = '/etc/pihole/setupVars.conf'

try:
    # Read the configuration with a default section
    config = configparser.ConfigParser()
    config.read_string('[default]\n' + open(config_file_path).read())

    # Convert the configuration to a dictionary
    config_dict = {section: dict(config.items(section)) for section in config.sections()}
except FileNotFoundError:
    config_dict = { 
        "default": {} 
    }

# Convert dictionary to JSON and print
json_output = json.dumps(config_dict['default'], indent=2)
print(json_output)
