---
plugin: netbox.netbox.nb_inventory
api_endpoint: https://192.168.2.215
token: "9ix22jo2AyNeVtVPGZUyhNIt2zpTfm3iZqd3vtzk"
validate_certs: False
group_names_raw: true
group_by:
  - sites
  - cluster
  - device_roles
  - tags
  - is_virtual
