
user  {{ nginx_process_user | default('nginx') }};
worker_processes  auto;

error_log  /var/log/nginx/error.log notice;
pid        /var/run/nginx.pid;


events {
    worker_connections  1024;
}


http {
    include       /etc/nginx/mime.types;
    default_type  application/octet-stream;

    log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                      '$status $body_bytes_sent "$http_referer" '
                      '"$http_user_agent" "$http_x_forwarded_for"';

    access_log  /var/log/nginx/access.log  main;

    sendfile        on;
    #tcp_nopush     on;

    keepalive_timeout  65;

    server_tokens off;

    #gzip  on;

{% if nginx_exporter_enabled %}
    server {
        listen 127.0.0.1:81;
        listen [::1]:81;

        server_name _;  # Add a server name to resolve the warning

        location /metrics {
            stub_status on;
        }
    }
{% endif %}

    server {
        listen 80;
        listen [::]:80;

        server_name cloud.db0de.de;

{% if acme_challenge_dir is defined %}
        location ^~ /.well-known/acme-challenge/ {
            default_type "text/plain";
            root {{ acme_challenge_dir }};
        }
{% endif %}

        location / {
            return 301 https://$server_name$request_uri;
        }
    }


    include /etc/nginx/conf.d/*.conf;
}
