[Unit]
Description=Execute nextcloud update checker script every minute

[Timer]
OnBootSec=0min
OnUnitActiveSec=5min
Persistent=true
Unit=prometheus-node-exporter-nextcloud-plugin.service

[Install]
WantedBy=multi-user.target
