global:
  resolve_timeout: 5m

route:
  group_wait: 30s
  group_interval: 30s
  repeat_interval: 30s
  receiver: 'default'

  routes:
    # the webhook is triggered for each instance if no inhibitor is active for this instance
    - matchers:
        - autoup=~"trigger|inhibitor"
      group_by:
        - 'instance'
      group_wait: 30s
      group_interval: 1m
      repeat_interval: 1m
      receiver: 'autoup'

    - matchers:
        - pve_balance="true"
      repeat_interval: 10m
      receiver: 'pve-balance'

receivers:
  - name: 'default'
  - name: 'autoup'

  - name: 'pve-balance'
    webhook_configs:
      - url: "{{ alertmanager_webhooks['pve-balance'] }}"
        send_resolved: false
