#!/usr/bin/env python3

import json

# Create a dictionary with the variables
data = {
    "admin_user": "{{ _grafana_admin_user }}",
    "admin_password": "{{ _grafana_admin_password }}"
}

# Convert the dictionary to JSON format
json_data = json.dumps(data, indent=4)

# Print the JSON
print(json_data)
