---
groups:
- name: Records
  rules:
  - record: r_european_summer_time_offset
    expr: |
        (vector(1) and (month() > 3 and month() < 10))
        or
        (vector(1) and (month() == 3 and (day_of_month() - day_of_week()) >= 25) and absent((day_of_month() >= 25) and (day_of_week() == 0)))
        or
        (vector(1) and (month() == 10 and (day_of_month() - day_of_week()) < 25) and absent((day_of_month() >= 25) and (day_of_week() == 0)))
        or
        (vector(1) and ((month() == 10 and hour() < 1) or (month() == 3 and hour() > 0)) and ((day_of_month() >= 25) and (day_of_week() == 0)))
        or
        vector(0)
  - record: r_middle_european_time
    expr: time() + 3600 * (1 + r_european_summer_time_offset)

  - record: r_machine_cpu_cores # only vms and phisical
    expr: |
      (count(node_cooling_device_max_state{type="Processor",job="node_exporter"}) by (instance))

  - record: r_pve_node_eligibility
    expr: |
      (pve_node_state_active * on (instance) group_left () ((node_load15 + node_load5 + node_load1) / 3  / on(instance) r_machine_cpu_cores))
  
  - record: r_pve_node_eligibility_max_deviation
    expr: |
      (max(r_pve_node_eligibility) - min(r_pve_node_eligibility))

- name: Alerts
  rules:
  - alert: PVEClusterLoadBalancingNeeded
    expr: |
      r_pve_node_eligibility_max_deviation > 1
    annotations:
      title: 'PVE Cluster needs rebalancing'
      description: 'Needs rebalancing'
    labels:
      severity: 'warning'
      pve_balance: 'true'


  - alert: PVEGuestDiskFull
    # Condition for alerting
    expr: |
      pve_disk_usage_bytes * 100 / pve_disk_size_bytes > 70
    for: 1m
    # Annotation - additional informational labels to store more information
    annotations:
{#        title: 'Guests Disk is full ({{ $value }}%)' #}
    labels:
      severity: 'warning'
