[Unit]
Description=Execute pve exporter script every minute

[Service]
Type=oneshot
ExecStart=/usr/local/bin/prometheus-node-exporter-pve-plugin.py

[Install]
WantedBy=multi-user.target
