[Unit]
Description=Prometheus exporter for Proxmox VE
Documentation=https://github.com/znerol/prometheus-pve-exporter

[Service]
Restart=always
User=prometheus
ExecStart=/usr/local/bin/pve_exporter --config.file /etc/prometheus_exporter/pve_exporter.yml

[Install]
WantedBy=multi-user.target
