{
  outputs = { nixpkgs, ... }: {
    nixosConfigurations.{{ inventory_hostname }} = nixpkgs.lib.nixosSystem {
      system = "x86_64-linux";
      modules = [
        ./configuration.nix
      ];
    };
  };
}