#!/usr/bin/env python3

import json
import os

def read_wireguard_files(directory):
    result = {}

    for filename in os.listdir(directory):
        interface_name = os.path.splitext(filename)[0]
        if interface_name not in result and interface_name != "peer-keys":
            result[interface_name] = {}
        
        if filename.endswith(".priv"):
            priv_key_path = os.path.join(directory, f"{interface_name}.priv")
            with open(priv_key_path, 'r') as priv_file:
                result[interface_name]['priv'] = priv_file.read().strip()
        elif filename.endswith(".pub"):
            pub_key_path = os.path.join(directory, f"{interface_name}.pub")
            with open(pub_key_path, 'r') as pub_file:
                result[interface_name]['pub'] = pub_file.read().strip()

    return result

if __name__ == "__main__":
    wireguard_directory = "/etc/wireguard"
    data = read_wireguard_files(wireguard_directory)

    # Convert the dictionary to JSON format
    json_data = json.dumps(data, indent=4)

    # Print the JSON
    print(json_data)
