{#
    NGINX config to proxy_route traffic forward via stream config
#}
user www-data;
worker_processes auto;
pid /run/nginx.pid;
error_log /var/log/nginx/error.log;
include /etc/nginx/modules-enabled/*.conf;

events {
	worker_connections 768;
	# multi_accept on;
}

stream {

{% for proxy_route in proxy_routes_ %}
{% set to_port = port_prefix + proxy_route.to[0].interface | regex_findall('\\d+') | first %}
    upstream backend_port_{{ to_port }} {
{% for to in proxy_route.to %}
{% set wg_ip = ipam_info.instances[to.host][to.interface] | first %}
{% set proxy_to_ip = ipam_info.addresses[wg_ip].nat_inside %}
        server {{ proxy_to_ip.split('/')[0] }}:{{ to_port }};
{% endfor %}
    }

    server {
        listen {{ to_port }} udp;
        proxy_pass backend_port_{{ to_port }};
    }

{% endfor %}
}
