[Unit]
Description=Execute boot time script every minute

[Service]
Type=oneshot
ExecStart=/usr/local/bin/prometheus-node-exporter-uptime-plugin.sh
StandardOutput=file:/var/lib/prometheus/node-exporter/uptime.prom

[Install]
WantedBy=multi-user.target
